div {
    font-size: 18px;
}
summary#h1 {
    color: #0691b4;
    font-size: 32px;
}
summary#h2 {
    color: #0691b4;
    font-size: 24px;
}
summary#h3 {
    color: #0691b4;
    font-size: 20px;
}
summary#h4 {
    color: #0691b4;
    font-size: 18px;
}
summary#h5 {
    color: #0691b4;
    font-size: 18px;
}
summary#h6 {
    color: #0691b4;
    font-size: 18px;
}