div {
    font-size: 18px;
}
*::marker {
    color:black
}
#h1 {
    color: #0691b4;
    font-size: 32px;
}
#h2 {
    color: #0691b4;
    font-size: 24px;
}
#h3 {
    color: #0691b4;
    font-size: 20px;
}
#h4 {
    color: #0691b4;
    font-size: 18px;
}
#h5 {
    color: #0691b4;
    font-size: 18px;
}
#h6 {
    color: #0691b4;
    font-size: 18px;
}
hr {
    background-color: rgb(172, 172, 172);
}
/* Dashed border */
hr.dashed {
    border-top: 3px dashed #2f2f2f;
}
/* Dotted border */
hr.dotted {
    border-top: 3px dotted #2f2f2f;
}

/* Solid border */
hr.solid {
    border-top: 3px solid #2f2f2f;
}

/* Rounded border */
hr.rounded {
    border-top: 8px solid #2f2f2f;
    border-radius: 5px;
}